<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="../assets/css/login.css">
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="login">
  <div class="login-header">
    <h1>Login</h1>
  </div>
  <div class="login-form">
    <h3>Username:</h3>
    <input type="text" placeholder="Username"/><br>
    <h3>Password:</h3>
    <input type="password" placeholder="Password"/>
    <br>
    <a href="../index.html"><input type="button" value="Register" class="login-button"/></a>
  </div>
</div>

</body>

</html>