 <div class="container-fluid" ng-controller="recurringExpensesCtrl">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Recurring Expenses</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Category</th>
                              <th scope="col">Cost</th>
                              <th scope="col">Recurring Date</th>
                              <th scope="col">&nbsp</th>
                              <th scope="col">&nbsp</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>
                                    <select style="-webkit-appearance: menulist;" ng-model="selectedName" ng-options="x.category for x in categoryList">
                                        <option value="">  -- choose category --  </option>
                                    </select>
                                </td>
                                
                                <td><input class="form-control" </td>
                                <td><input type="date" /></td>
                                <td><button class="btn btn-primary">Add</button></td>
                                <td><button class="btn btn-danger">Delete</button></td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
                </div>
              </div>
            </div>
            
    </div>
  </div>