
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Recurring Expenses</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Category</th>
                              <th scope="col">Cost</th>
                              <th scope="col">Recurring Date</th>
                              <th scope="col">&nbsp</th>
                              <th scope="col">&nbsp</th>
                            
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td><input class="form-control" </td>
                                <td><div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
                                      Choose category
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item">Rent</a>
                                      <a class="dropdown-item">Utility bills</a>
                                      <a class="dropdown-item">Bank fees</a>
                                      <a class="dropdown-item">Debt payments</a>
                                      <a class="dropdown-item">Other</a>
                                    </div>
                                    <button class="btn btn-info">Add New</button>
                                    </div>
                                </td>
                                
                                <td><input class="form-control" </td>
                                <td><input type="date" /></td>
                                <td><button class="btn btn-primary">Add</button></td>
                                <td><button class="btn btn-danger">Delete</button></td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
                </div>
              </div>
            </div>
            
    </div>
  </div>