/* body {
    background-image: url(budget.jpg);
    width: 100%;
    background-size: cover;
    border: 1px solid red;
  }
   */
  html { 
    background: url(budget.jpg) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }